.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.order-review-btn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    border-radius: 4px;
    background: #ebcc03;
    color: white;
}